@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bangers|Cabin+Sketch|Linden+Hill|Permanent+Marker');


body {
  padding-top: 20px;

}
.makeItWhite, {
  :hover, :visited{
    color: white;
  }
  color: white;
}

.ember-application{
  background:  url('/assets/images/clouds.jpg');
}

.jumbotron{
  // font-family: 'Amatic SC', cursive;
  // font-family: 'Rokkitt', serif;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Bitter', serif;
  // font-family: 'Cabin Sketch', cursive;
  // font-family: 'Bangers', cursive;
  margin-top: 50px;
  width: 150%;
  margin-left: -300px;
  background: url('/assets/images/mountain1.jpg');
  background-size: cover;
  padding-bottom: 220px;
  // color: #e0ecff;
  color: #1C2833;
  border: #1C2833 2px solid;

  h1{
    padding-top: 70px;
    font-family: 'Cabin Sketch', serif;
    font-size: 600%;
  }
  h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 300%;
  }
  h4{
    font-family: 'Bangers', cursive;
    padding-top: 50px;
    font-size: 200%;
  }

}
.navbar{
  font-family: 'Cabin Sketch', serif;
  font-size: 150%;
}
.container-fluid{
  h2{
    font-family: 'Permanent Marker', cursive;
  }
  .title{
  font-family: 'Cabin Sketch', serif;
  }
  .caption{
  font-family: 'Linden Hill', serif;
  }

}
.about{
  h1{
    font-family: 'Permanent Marker', cursive;
  }
  h3{
    font-family: 'Permanent Marker', cursive;
  }
  h4{
    font-family: 'Cabin Sketch', serif;
    font-size: 200%;
  }
  p{
    font-family: 'Linden Hill', serif;
    font-size: 150%;
  }
  a{
      font-family: 'Permanent Marker', cursive;
  }
}
.contact{
  h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 150%;
  }
  label{
    font-size: 150%;
    font-family: 'Cabin Sketch', serif;
  }
  p{
    font-family: 'Linden Hill', serif;
    font-size: 150%;
  }
  button{
    font-family: 'Linden Hill', serif;
    font-size: 200%;
    padding: 2% 4% 2% 4%;
  }

}

.title{
  color: #313131;
  font-size: 2em;
  padding-top: 5px;
}

img{
  border: 3px #313131 solid;
  -webkit-transition: border .5s; /* Safari */
  transition: border .5s;
  border-radius: 10px;
}

img:hover{
  border: 5px rgba(235, 244, 253, 0.7) solid;
}

ul {
  overflow: auto;
  list-style-type: none;
}

.stuff{
  margin-top: 7px;
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #353c47;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #242424;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

li a:hover {
  color: rgba(235, 244, 253, 0.7);
}
}

.shrinkIt{
  width: 75%;
}

form{
  margin-top: 30px;
}
.buffer{
  margin-top: 150px;
  margin-left: 125px;
}

.caption{
  background: rgba(235, 244, 253, 0.3);
  border-radius: 7px;
  margin-top:5px;
  padding:4px;
}

.formCont{
  width: 75%;
  margin: auto;
}
