<!-- app/templates/admin/contact.hbs -->


  <div class="container">
    <table class="table">
    <h1>Recieved Messages</h1>
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |contact|}}
        <tr>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.message}}</td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>
