<h1>Hello, I'm Dustin!</h1>

<h4>Get my resume <a target="_blank" href="https://docs.google.com/document/d/17z1FrwDAZje7pv_2VyAf8d1xOzTV2n4Q8UjBT30EC4c/edit?usp=sharing">here</a></h4>
<div class="row">
  <div class="col-sm-6">
    <h3>The Basics</h3>
    <p>
      Raleigh, NC.<br />
      Full Stack Developer <br />
      Apex Systems, Contractor for AT&T<br />
    </p>

    <h3>My Story</h3>
    <p>Bacon ipsum dolor amet pancetta do tenderloin, ham capicola short ribs boudin short loin kielbasa ribeye. Ham hock rump dolor, pork belly cillum sirloin picanha burgdoggen. Beef ribs eu shank, quis cow eiusmod pork officia bresaola short ribs occaecat chicken voluptate kevin. Enim jowl non ham hock, hamburger jerky mollit ut shank duis quis filet mignon.</p>

    <p>Sausage eiusmod nisi commodo ex doner. Frankfurter magna ut jowl do fugiat. Et hamburger labore alcatra. Pork loin non nulla, kevin burgdoggen est fatback ham. Eiusmod pig chuck porchetta ex.</p>

    <h4>
      Reach out to me via <a href="mailto:dwmorris.biz@outlook.com">Email </a> or the contact page.
    </h4>

  </div>
  <div class="col-sm-6">
    <img src="/assets/images/Dustin1.jpg" class="img-responsive" style="width:100%" alt="Image">
    
    <ul class="stuff">
      <li>
        <a href="http://www.github.com/dwmorrisdev">Github</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/dustin-morris-a4773283/">LinkedIn</a>
      </li>
      <li>
        <a href="https://www.emberjs.com/">Ember</a>
      </li>
      <li>
        <a href="http://www.unsplash.com">Unsplash</a>
      </li>
      <li>
        <a href="http://heroku.com">Heroku</a>
      </li>
    </ul>
  </div>
</div>
