<div class="about">
  <h1>Hello, I'm Dustin!</h1>

  <h4>Get my resume <a target="_blank" href="https://docs.google.com/document/d/17z1FrwDAZje7pv_2VyAf8d1xOzTV2n4Q8UjBT30EC4c/edit?usp=sharing">here</a></h4>
  <div class="row">
    <div class="col-sm-6">
      <h3>The Basics</h3>
      <p>
        Raleigh, NC.<br />
        Full Stack Developer <br />
        Apex Systems, Contractor for AT&T<br />
      </p>

      <h3>My Story</h3>
      <p>I've been doing programming and computer work in general since before 2012. During this time, I was content to experiment with Linux and play around with scripts. I was having a lot of fun with Linux and decided to try my hand at this programming stuff. I bought a Python book and got to work. It was a revelation. So much fun and the feeling of solving a programming problem was like winning. I went back to school and during this time I learned about what it means to be a web developer. </p>

      <p>After graduating in 2015, I knew I needed to gain some real world experience and I jumped right in. I was taking on as many clients as would have me in my home town, whether it was computer repair or web development. I was doing udemy classes and freeCodeCamp to build experience and get my feet wet with real world technologies.</p>

      <p> In March, I joined BizOps with AT&T as a contractor through Apex. All of a sudden it wasn't just front-end anymore. It had always been my goal to be a full stack developer, but sometimes its easier to learn by jumping in the deep end. Going from React to Ember and Python to Perl was a challenge. SQL, PHP, and other technologies were in the mix as well.</p>

      <p>Down the road a bit, I am still learning, and growing. In this industry, we never stop. Lets talk about your next project.</p>



    </div>
    <div class="col-sm-6">
      <img src="/assets/images/Dustin1.jpg" class="img-responsive" style="width:100%" alt="Image">

      <ul class="stuff">
        <li>
          <a href="http://www.github.com/dwmorrisdev">Github</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/dustin-morris-a4773283/">LinkedIn</a>
        </li>
        <li>
          <a href="https://www.emberjs.com/">Ember</a>
        </li>
        <li>
          <a href="http://www.unsplash.com">Unsplash</a>
        </li>
        <li>
          <a href="http://heroku.com">Heroku</a>
        </li>
      </ul>
      <h3>
        Reach out to me via <a href="mailto:dwmorris.biz@outlook.com">Email </a> or the contact page.
      </h3>

    </div>
  </div>
</div>
