<div class="container-fluid bg-3 text-center">
  <h2>Some of my Work</h2><br>
  <div class="row">
    <div class="col-sm-6">
      <p class="title">DesignBySparticus</p>
      <img src="/assets/images/dbs.png" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        Previous incarnation of personal website/portfolio. No JS frameworks. Built while in college, to demonstrate skills. <br /><a href="#">[www.designbysparticus.com]</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">Chop House/Vicari Grill</p>
      <img src="/assets/images/vicari.png" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        Local restaurant in Corinth, MS. Vicari is 4-star dining at its best. No frameworks, this is a static site. We were doing a redesign on a 6month rotation. <br /><a href="#">[www.vicarigrill.com]</a>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">Unified Desktop</p>
      <img src="/assets/images/ud.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        Unified Desktop is a troubleshooting app for AT&T. Hosted on their local VPN, it is not available to the public and it is what I have been working on with the BizOps Team for the last 6+ months. It uses many technologies from Ember, PHP, Perl backend, SQL, SASS, Bootstrap, and others.
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">ReactToDo</p>
      <img src="/assets/images/todo.png" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        ToDo App Built with React. Foundation, React, Webpack.
      </p>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">React Weather</p>
      <img src="/assets/images/ReactWeather.png" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        One of my favorite personal projects. This app accesses the openweather.org API and renders local weather info to a user's position. <br /><a class="makeItWhite" href="http://arcane-stream-15411.herokuapp.com/#/?_k=yq09xd">Live Link</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">React Timer</p>
      <img src="/assets/images/Rtimer.png" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        Countdown and Timer, this was another fun React project. Expanding my knowledge of data handling in React. <br /><a class="makeItWhite" href="http://react-timer-and-countdown.herokuapp.com/#/about?_k=ea9is5">Live Link</a>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">Code Challenge 477</p>
      <img src="/assets/images/477Chal.png" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        This is the code challenge I was presented for Apex/AT&T and my response. Simple, but it deals with Perl and data handling. <br  /><a class="makeItWhite" href="https://codepen.io/thedadsparticus/full/GmqyWV/">Live Pen</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">Ember Library App</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p class="caption">
        Work in progress, this app, like this portfolio, is built on ember, and is my attempt to build something with it on my own. <br /> Live Link Pending.
      </p>
    </div>
  </div>
</div><br><br>
