<div class="container-fluid bg-3 text-center">
  <h2>Some of my Work</h2><br>
  <div class="row">
    <div class="col-sm-6">
      <p class="title">DesignBySparticus</p>
      <img src="/assets/images/dbs.png" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary <a href="#">[www.designbysparticus.com]</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">Chop House/Vicari Grill</p>
      <img src="/assets/images/vicari.png" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary <a href="#">[www.vicarigrill.com]</a>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">Unified Desktop</p>
      <img src="/assets/images/ud.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">ReactToDo</p>
      <img src="/assets/images/todo.png" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">React Weather</p>
      <img src="/assets/images/ReactWeather.png" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary <a class="makeItWhite" href="http://arcane-stream-15411.herokuapp.com/#/?_k=yq09xd">Live Link</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">React Timer</p>
      <img src="/assets/images/Rtimer.png" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary <a class="makeItWhite" href="http://react-timer-and-countdown.herokuapp.com/#/about?_k=ea9is5">Live Link</a>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">Code Challenge 477</p>
      <img src="/assets/images/477Chal.png" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary <a class="makeItWhite" href="https://codepen.io/thedadsparticus/full/GmqyWV/">Live Pen</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">Ember Library App</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
  </div>
</div><br><br>
