<div class="container-fluid bg-3 text-center">
  <h2>Some of my Work</h2><br>
  <div class="row">
    <div class="col-sm-6">
      <p class="title">DesignBySparticus</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">Chop House/Vicari Grill</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">Unified Desktop</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">ReactToDo</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">React Weather</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">React Timer</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-6">
      <p class="title">Code Challenge 477</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
    <div class="col-sm-6">
      <p class="title">Ember Library App</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>
        Summary
      </p>
    </div>
  </div>
</div><br><br>
